# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary reports
*_output.txt
*_results.json
*_results_utf8.json
*_results.txt
*_errors.txt
*-summary.txt
*_utf8.txt
*_final.json
lint.json
lint.txt
build-output.txt
errors.txt
